.header {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  direction: rtl;
  background-color: #cbc9c9;


  .select {
    width: 200px !important;
    height: 30px;
    margin: 10px 0 20px 20px;
    border-radius: 10px;

  }

}

.body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  direction: rtl;
  align-content: space-between;
  flex-wrap: wrap;
  margin: 20px;

  .cart {
    margin: 20px;
    display: flex;
    width: 350px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0.5px #888686;
    flex-direction: column;
  }

  .img {
    width: 100%;
    border-radius: 10px;
    height: 250px;
  }

  .detail-home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px;
  }
}
